<header>
  <a id="arrow_back" routerLink="/articles">←</a>
  <p>{{ article.titre }}</p>
</header>
<main class="article-container">
  <div class="article-subtitle">
    <span>{{ article.date | date:'dd/MM/yyyy' }}</span>
    <span>{{ article.auteur }}</span>
    <span>{{ article.theme }}</span>
  </div>
  <div class="article-content">
    <p>{{ article.contenu }}</p>
  </div>
  <hr>
  <div class="comments">
    <p>Commentaires</p>
    @for (comment of article.commentaires; track comment.id) {
      <div class="comment">
        <span>{{ comment.auteur }}</span>
        <p class="comment-content">{{ comment.contenu }}</p>
      </div>
    }
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Ecrivez ici votre commentaire</mat-label>
        <input matInput formControlName="contenu">
        @if (commentForm.get('contenu')?.hasError('required') && commentForm.get('contenu')?.touched) {
          <mat-error>
            Le contenu du commentaire est requis
          </mat-error>
        }
        <button
          mat-icon-button
          matSuffix
          type="submit"
          [disabled]="commentForm.invalid"
        >
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
      <button mat-icon-button color="primary" type="submit" [disabled]="commentForm.invalid">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</main>
